{{ include('templates/header.twig') }}
	
<article class="wrapper">
	<aside class="sidebar"> {# sidebar #}
	    <ul class="sidebar-nav">
			<li class="active">
				<a href="#dashboard" data-toggle="tab">
					<i class="fa fa-bar-chart"></i> 
					<span>Статистика</span>
				</a>
			</li>
			<li>
				<a href="#configuration" data-toggle="tab" class="disabled">
					<i class="fa fa-star"></i> 
					<span>Рейтинг</span>
				</a>
			</li>
		</ul>
	</aside> {# end sidebar #}
	    
	<section class="main">
	    <section class="tab-content">
	        <section class="tab-pane active fade in content" id="dashboard">
	            <div class="row">
					<div class="col-xs-12 col-sm-12 hidden-lg hidden-md"> {# mobile col #}
	                    <div class="center-block">
	                        <p class="text-center">
								<img src="{{ user.photo_100 }}" alt="Ваш аватар" class="img-circle">			
							</p>
							<p class="text-center">
								<a href="/user/out" type="button" class="btn btn-danger btn-lg">
  									<i class="fa fa-arrow-left" aria-hidden="true"></i> Выйти
								</a>
							</p>
	                    </div>
	                </div>
					<div class="col-xs-6 col-sm-3"> {# video col #}
	                    <div class="panel panel-primary">
	                        <div class="panel-body">
	                            <h3 class="text-center"><i class="fa fa-video-camera" aria-hidden="true"></i></h3>
								<h3 class="text-center">{{ user_videos.videos.count }}</h3>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-xs-6 col-sm-3"> {# user col #}
	                    <div class="panel panel-success">
	                        <div class="panel-body">
	                            <h3 class="text-center"><i class="fa fa-users" aria-hidden="true"></i></h3>
								   <h3 class="text-center">{{ user_friends.friends.count }}</h3>
	                        </div>
	                    </div>
	                </div>    
	                <div class="col-xs-6 col-sm-3"> {# photo col #}
	                    <div class="panel panel-danger">
	                        <div class="panel-body">
	                            <h3 class="text-center"><i class="fa fa-camera" aria-hidden="true"></i></h3>
								<h3 class="text-center">{{ user_photos.photos.count }}</h3>
	                        </div>
	                    </div>
	                </div>    
	                <div class="col-xs-6 col-sm-3"> {# photo likes col #}
	                    <div class="panel panel-warning">
	                        <div class="panel-body">
	                            <h3 class="text-center"><i class="fa fa-heart" aria-hidden="true"></i></h3>
								<h3 class="text-center">{{ user_photos.photos.count_all_likes }}</h3>
	                        </div>
	                    </div>
	                </div>    
	                <div class="col-xs-12 col-sm-9"> {# achievements col #}
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
							   	Достижения
	                        </div>
	                        <div class="panel-body">
								{# Достижений нету #}
								{% if ( user_photos.photos.achievements|keys)|length>0 == 0 and (user_friends.friends.achievements|keys)|length>0 == 0 %}
									<p class="text-center">
										У тебя нету еще достижений )=
									</p>
								{% endif %}
								<div class="col-md-2 col-sm-4 col-xs-4 column productbox"> {# achievements body #}
									{# Достижения лайков профиля #}
									{% if (user_photos.photos.achievements|keys)|length>0  %}
										<span style="cursor:pointer" class="fa-stack fa-lg" data-trigger="hover" data-toggle="popover" data-placement="right" title="{{ user_photos.photos.achievements.name }}" data-content="{{ user_photos.photos.achievements.make }}">
											<i class="fa fa-square-o fa-stack-2x"></i>
											<i class="fa fa-heart fa-stack-1x" aria-hidden="true"></i>
										</span>
									{% endif %}
									{# Достижения количества друзей #}
									{% if (user_friends.friends.achievements|keys)|length>0 %}
										<span style="cursor:pointer" class="fa-stack fa-lg" data-trigger="hover"  data-toggle="popover" data-trigger="focus" data-placement="right" title="{{ user_friends.friends.achievements.name }}" data-content="{{ user_friends.friends.achievements.make }}">
											<i class="fa fa-square-o fa-stack-2x"></i>
											<i class="fa fa-user-plus fa-stack-1x" aria-hidden="true"></i>
										</span>
									{% endif %}
								</div>
	                        </div>
	                    </div>
	                </div>    
	                <div class="col-xs-12 col-sm-3"> {# right col #}
	                    <div class="panel panel-default"> {# panel updates #}
	                        <div class="panel-heading">
	                            Обновления и нововведения
	                        </div>
	                        <div class="panel-body">
	                            ...
	                        </div>
	                    </div>    
	                    <div class="panel panel-default"> {# panel developer #}
	                        <div class="panel-heading">
	                        	О Разработчике...
	                        </div>
	                        <div class="panel-body">
	                        	Администратор <a href="https://vk.com/a_shmakov2000" target="_blank">Шмаков Андрей</a></a>
	                        </div>
	                     </div>
	                </div>
				</div> {# end row #}
	    	</section> {# end tab pane #}
	        <section class="tab-pane fade" id="configuration">
		        <section class="tab-content content">
		            В Разработке...
		        </section>
			</section>
	    </section> {# end tab content #}
	</section> {# end main #}
</article> {# end wrapper #}

{{ include('templates/footer.twig') }}


<script>
$(document).on("click",".sidebar-toggle",function(){
    $(".wrapper").toggleClass("toggled");
});
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover(); 
});
</script>



